@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: #f9f2ed;
  --secondary-color: #f904e990;
}

body {
  background-color: #1f2024;
  text-align: center;
  color: var(--primary-color);
}
header {
  min-height: 8vh;
  background-color: var(--secondary-color);
  border-radius: 0 0 0.75rem 0.75rem;
}

.container {
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  width: 40vw;
  min-height: 70vh;
  /* padding: 1rem 0rem; */
  color: var(--primary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background-color: #533483;
}

.container .heading {
  font-size: 2.5rem;
  padding: 1rem 0rem 0rem;
  color: var(--primary-color);
}

.container .description {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color);
  padding: 1rem;
  line-height: 1.25rem;
}

.container label {
  padding: 0.5rem 0rem;
  font-size: 1rem;
  font-weight: 700;
}
.container .btn {
  padding: 0.25rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #293462;
  color: var(--primary-color);
  border: none;
  cursor: pointer;
}
.container .btn:hover {
  background-color: var(--secondary-color);
}

.container input {
  padding: 0.5rem;
  border: none;
}

.container #error-message {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.25rem;
  color: var(--primary-color);
}

table {
  height: 12vh;
  border-radius: 10px;
  border: 2px solid #533483;
  /* padding-bottom: 0.75rem; */
}

table,
th,
td {
  text-align: left;
  border: 2px solid #1a1a1e;
  color: var(--primary-color);
}

th,
td {
  text-align: center;
}
.change-table caption {
  font-size: 1.1rem;
  color: var(--primary-color);
  font-weight: 700;
  padding: 0.5rem;
}

.change-table td {
  padding: 0.5rem 0rem;
  border-bottom: 2px solid #293462;
}
/* footer */

footer {
  margin-top: 3.1rem;
  background-color: var(--secondary-color);
  border-radius: 10px 10px 0 0;
  height: 12vh;
}
.social-links {
  list-style-type: none;
  padding-top: 1.5rem;
}

.list-item-inline {
  text-align: center;
  display: inline;
  padding: 1rem;
}

.list-item-inline .link {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
.list-item-inline :hover {
  color: #1f142a;
  border-bottom: 1px solid #18032c;
}
